.appContainer {
  background-image: url("./images/homeBackground.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
}

/* Ensure no border-radius for the background image container */
.experimentsBackground {
  background-image: url("./images/solarSystem.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
}

.bodyScreenFit {
  height: 100vh;
}
