.appContainer {
  background: rgb(27, 29, 35);
  background: linear-gradient(
    230deg,
    rgba(27, 29, 35, 1) 5%,
    rgba(51, 72, 85, 1) 39%,
    rgba(27, 29, 35, 1) 100%
  );
}

.bodyScreenFit {
  height: 100vh;
}
